<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carry.customerflow.mapper.ShopMapper">

    <select id="findShopByUsername" resultType="com.carry.customerflow.bean.Shop" >
    select * from shop where username=#{username}
  </select>

    <insert id="insertShop">
    insert into shop
    (username,longitude,latitude,address)
    values
    (#{username},#{longitude},#{latitude},#{address})
    </insert>

    <select id="findAllShop" resultType="java.lang.String" >
    select address from shop
  </select>

  <delete id="deleteShop">
    delete from shop where address = #{address}
  </delete>

  <select id="checkShop" resultType="java.lang.Integer">
    select count(*) from shop where address = #{address}
  </select>

  <update id="changeBondShop">
    update user
    set address = #{address} where username = #{username}
  </update>
</mapper>