<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carry.customerflow.mapper.UserMapper">
    <!--<resultMap id="userMap" type="com.carry.customerflow.bean.User">-->
        <!--<id property="uid" column="uid"/>-->
        <!--<result property="username" column="username"/>-->
        <!--<result property="password" column="password"/>-->
        <!--<result property="address" column="address"/>-->
        <!--<collection property="roles" ofType="com.carry.customerflow.bean.Role">-->
            <!--<id property="rid" column="rid"/>-->
            <!--<result property="rname" column="rname"/>-->
            <!--<collection property="permissions" ofType="com.carry.customerflow.bean.Permission">-->
                <!--<id property="pid" column="pid"/>-->
                <!--<result property="name" column="name"/>-->
                <!--<result property="url" column="url"/>-->
            <!--</collection>-->
        <!--</collection>-->
    <!--</resultMap>-->
    <!--<select id="findByUsername" parameterType="string" resultMap="userMap" resultType="com.carry.customerflow.bean.User">-->
        <!--&lt;!&ndash; 　left join(左联接) 返回包括左表中的所有记录和右表中联结字段相等的记录-->
       <!--　    　right join(右联接) 返回包括右表中的所有记录和左表中联结字段相等的记录-->
        <!--　　   inner join(等值连接) 只返回两个表中联结字段相等的行 &ndash;&gt;-->
        <!--select u.*,r.*,p.*-->
        <!--from user u-->
        <!--inner join user_role ur on ur.uid = u.uid-->
        <!--inner join role r on r.rid = ur.rid-->
        <!--inner join permission_role pr on pr.rid = r.rid-->
        <!--inner join permission p on pr.pid = p.pid-->
        <!--where u.username = #{username}-->
    <!--</select>-->

    <resultMap id="userMap" type="com.carry.customerflow.bean.User">
    <id property="uid" column="uid"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="address" column="address"/>
    <result property="bossname" column="bossname"/>

    <collection property="permissions" ofType="com.carry.customerflow.bean.Permission">
    <id property="pid" column="pid"/>
    <result property="name" column="name"/>
    <result property="Chinese_name" column="Chinese_name"/>
    <result property="url" column="url"/>
    </collection>

    </resultMap>
    <select id="findByUsername" parameterType="string" resultMap="userMap" resultType="com.carry.customerflow.bean.User">
    <!-- 　left join(左联接) 返回包括左表中的所有记录和右表中联结字段相等的记录
    　    　right join(右联接) 返回包括右表中的所有记录和左表中联结字段相等的记录
    　　   inner join(等值连接) 只返回两个表中联结字段相等的行 -->
    select u.*,p.*
    from user u
    inner join user_permission up on up.username = u.username
    inner join permission p on up.pid = p.pid
    where u.username = #{username}
    </select>

    <select id="findByUsernameWithoutPermission" resultType="com.carry.customerflow.bean.User">
        select *
        from user
        where
        username = #{username}
    </select>

    <select id="findByUsernameTest" resultType="com.carry.customerflow.bean.User">
    select u.*,r.*,p.*
    from user u
    inner join user_role ur on ur.uid = u.uid
    inner join role r on r.rid = ur.rid
    inner join permission_role pr on pr.rid = r.rid
    inner join permission p on pr.pid = p.pid
    where u.username = #{username}
    </select>

    <select id="searchAllBoss" resultType="com.carry.customerflow.bean.User">
    select *
    from user
    where uid = 2
    </select>

    <select id="searchStaffnameByBossname" resultType="com.carry.customerflow.bean.User">
    select *
    from user
    where bossname = #{bossname}
    </select>

    <delete id="deleteUser">
        delete from user where username = #{username}
    </delete>

    <delete id="deleteStaff">
        delete from user from bossname = #{bossname}
    </delete>

</mapper>